.plane {
 font-size: 14px ;   
 color: aqua; 
}

.matadora {
   font-size: 14px;
   color: blueviolet;
}

.ultra {
   font-size: 14px;
   color: brown;
}

.hen {
   font-size: 14px;
   color: blue;
}

.tyrbo {
   font-size: 14px;
   color: coral;
}
